$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#8400ff;
$color-primary-personality:#8400ff;
$color-primary-newsitem:#8400ff;
$color-primary-product: #8400ff;
$color-background-soft:#f2eff3;